webdiff.zip
index.php
favicon.ico
bitnami.css
applications.html
xbct_report/.idea/
xbct_report/screenshots/
xbct/cqupt_files/
xbct/cqupt.html
xbct/debug.txt
xbct/log.txt
xbct/xbct - bk.js
xbct/.idea/
xampp/
webdiff/
webalizer/
report/.idea/
report/screenshots/
dashboard/